@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --secondary: #EC8305;
  --muted: #DBD3D3;
}

.active-color {
  color: var(--secondary);
  font-weight: 500;
  font-size: 18px;
}

.muted-color {
  color: var(--muted);
  font-weight: 500;
  font-size: 12px;
}

.muted-color:hover {
  color: var(--secondary);
}

.section-title {
  color: #091057;
  font-weight: 800;
  font-size: 20px;
}

.primary-title {
  color: #091057;
  font-weight: 600;
  font-size: 16px;
}

.secondary-title {
  color: var(--secondary);
  font-weight: 600;
  font-size: 20px;
}

.primary-button {
  background-color: #091057;
  color: var(--background);
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
}

.primary-button:hover {
  background-color: #adb1d6;
}

@media (min-width: 768px) {
  .active-color {
    font-size: 14px;
  }

  .muted-color {
    font-size: 14px;
  }

  .section-title {
    font-size: 24px;
  }

  .primary-title {
    font-size: 20px;
  }
}

@media (min-widht: 1400px) {
  .muted-color {
    font-size: 18px;
  }

  .section-title {
    font-size: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }

  .section-title {
    color: var(--foreground);
  }

  .primary-title {
    color: var(--foreground);
  }

  .primary-button {
    background-color: #024CAA;
    color: var(--foreground);
  }

  .primary-button:hover {
    background-color: #adb1d6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}